/* *  {
box-sizing: border-box;
} */

body {
background-image: url("../images/alexander-andrews-511680-unsplash.jpg");
background-repeat: no-repeat;
background-size:85%;

}
h1, h2, div {
    font-family: 'Times New Roman', Times, serif;
    color: #eee;
    font-size: 40px;
}